/* 
Name: Gagandeep
Student Number: 200565862
Email: gagan19062003@gmail.com
*/

 #map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }